@font-face {
  font-family: 'TT Lakes';
  src: url('/src/assets/fonts/TypeType\ -\ TTLakes-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'TT Lakes black';
  src: url('/src/assets/fonts/TypeType - TTLakesCompressed-Black.otf') format('opentype');
}

@font-face {
  font-family: 'TT Lakes bold';
  src: url('/src/assets/fonts/TypeType - TTLakesCondensed-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Lakes';
  src: url('/src/assets/fonts/TTLakes-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Amad';
  src: url('/src/assets/fonts/AmadeusAP.ttf') format('ttf'),
  url('/src/fonts/TTLakes-Regular.woff') format('woff');
}